<!DOCTYPE html>
<html>
<head>
	<title>Crimebook</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/estilos.css">
</head>
<body>


	<div class="topnav" id="myTopnav">
	 <a href="Index.html">Listado de juegos</a>
	 <a href="Pagina2.html">Listado de partidas</a>
	 <a href="Pagina3.html">Listado de pruebas</a>
	 <a href="Pagina4.html">Partida nueva</a>
	 <a href="Pagina5.html" class="active">Juego Nuevo/editar juego</a>
	 <a href="Pagina6.html">Prueba Nueva/ Editar prueba</a>
	 <a href="Pagina7.html">Consultar partida</a>
	 <a href="javascript:void(0);" class="icon" onclick="myFunction()">
		 <i class="fa fa-bars"></i>
	 </a>
	</div>


	<div id="pag5" align="center">
	<p><form>
		<strong>Nombre del juego:</strong><textarea name="message" rows="1" cols="25" placeholder="Introduzca el nombre"></textarea><br><br>
		<strong>Descripcion breve:</strong><textarea name="message" rows="2" cols="25" placeholder="Introduzca una descripción breve"></textarea><br><br>
		<strong>Descripcion extendida:</strong><textarea name="message" rows="2" cols="25" placeholder="Introduzca una descripción extensa"></textarea><br>
	</form></p>
	<br>
</div>
	
	<h3 align="center">Listado de pruebas</h3>
	<table align="center">
				<tr>
					<th>Añadir prueba</th>
					<th>Eliminar prueba</th>
				</tr>
				<tr>
					<td></td>
					<td></td>
				</tr>
		</table>

		<br>
		<div align="center">
		<button class="button">Enviar/Guardar</button>
		</div>
	

	<script>
	function myFunction() {
	  var x = document.getElementById("myTopnav");
	  if (x.className === "topnav") {
	    x.className += " responsive";
	  } else {
	    x.className = "topnav";
	  }
	}
	</script>

</body>
</html>
